body {
    background: #0e2e46;
    color: #d1d1d1;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6, a{
    color: #d1d1d1;
  }
  
  .highlight {
    background-color: #0f5e13 !important;
  }

  .secondary-highlight{
    background-color: #39663b !important;
  }

  .tertiary-highlight{
    background-color: #59795a !important
  }

  .banner {
    background-color: #5f788a;
    padding: 10px;
    border-radius: 5px
  }

  .protocol_box{
    background: #29485f;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px 10px;
  }

  .button {
    background-color: #488d4b; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px
  }

  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  