{% extends "layout.html" %}
{% block content %}
<div class='container row w-auto'>
    <div class='col-6'>
        <h1>Options</h1>
    </div>
    
    <div class='col-6'>
        <div class='text-right align-middle'>   
            <div class='button'>
                <a href="/">
                    Home
                </a>
            </div>
        </div>
    </div>
</div>


    <div class='container protocol_box w-auto'>
        <a href="/deleteProtocol">
            <h2>Delete cached protocol</h2>
        </a>
    </div>

{% endblock content %}