{% extends "layout.html" %}
{% block content %}
    <div class='container row w-auto'>
        <div class='col-6'>
            <h1>{{ name }}</h1>
        </div>
        
        <div class='col-6'>
            <div class='text-right align-middle'>
                <div class='button'>
                    <a href="/send/{{ id }}">
                        Send to OT-2
                    </a>
                </div>
            
                <div class='button'>
                    <a href="/">
                        Home
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class='container protocol_box w-auto'>
        <h3>Metadata</h2>
        <div class='row'>
            <div class='col-3 text-right'>
                <h5>ID: </h5>
            </div>
            <div class='col-9'>
                <p>{{ id }}</p>
            </div>
        </div>

        <div class='row'>
            <div class='col-3 text-right'>
                <h5>Date Modified: </h5>
            </div>
            <div class='col-9'>
                <p>{{ modifiedTime }}</p>
            </div>
        </div>

    </div>

    <div class='container protocol_box w-auto'>
        <h3>Pipettes</h2>
        {% for pipette in pipettes%}
            <div class='row'>
                <div class='col-3 text-right'>
                    <h5>{{ pipette.location.capitalize() }}: </h5>
                </div>
                <div class='col-9'>
                    <p>{{ pipette.item }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class='container protocol_box w-auto'>
        <h3>Labware</h2>
        {% for item in labware%}
            <div class='row'>
                <div class='col-3 text-right'>
                    <h5>Deck {{ item.location }}:</h5>
                </div>
                <div class='col-9'>
                    <p>{{ item.item }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}