{% extends "layout.html" %}
{% block content %}
    <div class='container row w-auto'>
        <div class='col-6'>
            <h1>{{ name }}</h1>
        </div>
        
        <div class='col-6'>
            <div class='text-right align-middle'>
                {% for data in metadata %}
                    {% if data.field == 'modify' or data.field == 'Modify' %}
                        {% if data.value == 'True' or data.value == 'true' %}
                            <div class='button'>
                                <a href="/modify/{{ id }}">
                                    Modify
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}


                <div class='button'>
                    <a href="/send/{{ id }}">
                        Send to OT-2
                    </a>
                </div>
            
                <div class='button'>
                    <a href="/">
                        Home
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class='container protocol_box w-auto'>
        <h3>Metadata</h2>
        {% for data in metadata %}
            <div class='row'>
                <div class='col-3 text-right'>
                    <h5>{{ data.field.capitalize() }}: </h5>
                </div>
                <div class='col-9'>
                    <p>{{ data.value }}</p>
                </div>
            </div>
        {% endfor %}
        <div class='row'>
            <div class='col-3 text-right'>
                <h5>ID: </h5>
            </div>
            <div class='col-9'>
                <p>{{ id }}</p>
            </div>
        </div>

        <div class='row'>
            <div class='col-3 text-right'>
                <h5>Date Modified: </h5>
            </div>
            <div class='col-9'>
                <p>{{ modifiedTime }}</p>
            </div>
        </div>
    </div>

    {% for data in metadata %}
        {% if data.field == 'modify' or data.field == 'Modify' %}
            {% if data.value == 'True' or data.value == 'true' %}
            <div class='container protocol_box w-auto'>
                <h3>Modifiable Fields</h2>
                    {% for modField in modFields%}
                    <div class='row'>
                        <div class='col-3 text-right'>
                            <h5>{{ modField.field.capitalize() }}: </h5>
                        </div>
                        <div class='col-3'>
                            <p>{{ modField.value }}</p>
                        </div>
                        <div class='col-6'>
                            <p>{{ modField.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}


    <div class='container protocol_box w-auto'>
        <h3>Pipettes</h2>
        {% for pipette in pipettes%}
            <div class='row'>
                <div class='col-3 text-right'>
                    <h5>{{ pipette.location.capitalize() }}: </h5>
                </div>
                <div class='col-9'>
                    <p>{{ pipette.item }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class='container protocol_box w-auto'>
        <h3>Labware</h2>
        {% for item in labware%}
            <div class='row'>
                <div class='col-3 text-right'>
                    <h5>Deck {{ item.location }}:</h5>
                </div>
                <div class='col-9'>
                    <p>{{ item.item }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}